<div class="u-text--center">
	<%= link_to "一覧に戻る", @book ,class: "c-textlink c-text--midium"%>
</div>

<%= form_for @book do |form| %>
<%= render "form", form: form %>
<div class="c-button"><%= form.submit %></div>
<% end %>
