<div class="p-add">
	<div class="p-add__inner">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- スマホ用 -->
		<ins class="adsbygoogle"
		style="display:block"
		data-ad-client="ca-pub-1016214782584645"
		data-ad-slot="3599600755"
		data-ad-format="auto"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>

	</div>
</div>

<div class="p-footer">
	<ul>
		<li>
			<a href="https://twitter.com/Tekubu_net" target="_blank">公式Twitter</a>
		</li>
		<li>
			<a href="#inline" data-lity="data-lity">このサイトについて</a>
		</li>
	</ul>
	<p class="p-footer__copy">
		Copyright (C) 2018 <%= link_to "Tekubu", root_path %>
	</p>
</div>

<div class="p-about lity-hide" id="inline">
	<div class="c-box p-about__item">
		<h2 class="c-headline">Tekubuとは？</h2>
		<p class="c-text--midium">ただただ単純にQiitaさんのAPIを使用してQiitaさんの新着投稿を表示するサイトです。1時間ごとにQiitaさんの投稿をAPIを介して取得して表示しています。</p>
	</div>

	<div class="c-box p-about__item">
		<h2 class="c-headline">お問い合わせ</h2>
		<p class="c-text--midium">お問い合わせなどありましたら、公式TwitterアカウントへDMをお送りください。</p>
		<div class="c-button">
			<a href="https://twitter.com/Tekubu_net" target="_blank">公式Twitter</a>
		</div>
	</div>

	<div class="c-box p-about__item">
		<h2 class="c-headline">作った人</h2>
		<p class="c-text--midium">個人で開発・運営してます。<br>
		ブログ：（<a href="https://y-hilite.com/" target="_blank">Y-hilite</a>）<br>
		アカウント：（<a href="https://twitter.com/nishi_talk" target="_blank">twitter</a>）</p>
	</div>
</div>
