<div class="p-footer">
	<ul>
		<li>
			<a href="https://twitter.com/Tekubu_net" target="_blank">公式Twitter</a>
		</li>
		<li>
			<a href="/about">このサイトについて</a>
		</li>
	</ul>
	<p class="p-footer__copy">
		Copyright (C) 2018 <%= link_to "Tekubu", root_path %>
	</p>
</div>
