<div class="p-add">
	<div class="p-add__inner">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- スマホ用 -->
		<ins class="adsbygoogle"
		style="display:block"
		data-ad-client="ca-pub-1016214782584645"
		data-ad-slot="3599600755"
		data-ad-format="auto"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>

	</div>
</div>

<div class="p-footer">
	<ul>
		<li>
			<a href="https://twitter.com/Tekubu_net" target="_blank">公式Twitter</a>
		</li>
		<li>
			<a href="/about">このサイトについて</a>
		</li>
	</ul>
	<p class="p-footer__copy">
		Copyright (C) 2018 <%= link_to "Tekubu", root_path %>
	</p>
</div>
