<header class="p-header">
	<div class="p-header__inner">
		<div class="p-header__logo">
			<%= link_to "Tekubu", root_path %>
			<span class="p-header__logo__cap c-text--small">&ensp;-Qiitaの新着投稿を表示するサイト-</span>
		</div>
	</div>
</header>

<div class="p-add">
	<div class="p-add__inner">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- スマホ用 -->
		<ins class="adsbygoogle"
		style="display:block"
		data-ad-client="ca-pub-1016214782584645"
		data-ad-slot="3599600755"
		data-ad-format="auto"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
</div>
