<% set_meta_tags title: "Tekubu（テクブ）について",
description: "Tekubu（テクブ）は、エンジニアにおすすめの本を紹介するサイトです。Qiitaの投稿記事に紹介されている本の情報をまとめて紹介するサイト「Tekubu」（テクブ）。プログラミングに関する知識を記録・共有するためのサービスQiitaに投稿している記事数をカウントしておすすめの本をご紹介します。" %>

<div class="p-about">
	<div class="c-box p-about__item">
		<h1 class="c-headline">Tekubu（テクブ）とは？</h1>
		<p class="c-text--midium">Tekubu（テクブ）とは、エンジニアにおすすめの本を紹介するサイトです。プログラミングの本を探すとき種類が多すぎて選びきれない。他の先輩プログラマーや先輩エンジニアの方からおすすめしてほしいけど、周りにいない。そういった悩みを解消するためにプログラミングに関する知識を記録・共有サイトのQiitaさんで紹介されている本の記事数をカウントしてランキング形式で紹介しています。</p>
	</div>

	<div class="c-box p-about__item">
		<h2 class="c-headline">お知らせ</h2>
		<p class="c-text--midium">「Tekubu（テクブ）」はamazon.co.jpを宣言しリンクすることによってサイトが紹介料を獲得できる手段を提供することを目的に設定されたアフィリエト宣言プログラムである、Amazonアソシエイト・プログラムの参加者です。</p>
	</div>

	<div class="c-box p-about__item">
		<h2 class="c-headline">免責事項</h2>
		<p class="c-text--midium">できる限り正確な情報を掲載するよう心がけておりますが、必ずしも正確性を保証するものではありません。<br>
			紹介した商品のご購入や各種サービスを利用になる場合、ご覧になった貴方の責任にてお願い致します。<br>
		当サイトを利用することで発生した、いかなる結果にも一切責任を負いかねます。</p>
	</div>

	<div class="c-box p-about__item">
		<h2 class="c-headline">ご要望・お問い合わせ</h2>
		<p class="c-text--midium">ご要望・お問い合わせなどありましたら、公式TwitterアカウントへDMをお送りください。<br>メールでのお問合わせの場合は tekubu.net@gmail.com へお願いします。</p>
		<div class="c-button">
			<a href="https://twitter.com/Tekubu_net" target="_blank">公式Twitter</a>
		</div>
	</div>
</div>