<article class="p-article c-talk--right">
	<p class="c-talk__name"><%= @book.event_id %></p>
</article>


<ul class="p-sns">
	<!-- <li class="c-sns--facebook"><i class="fa fa-facebook" aria-hidden="true"></i>facebookボタン</li> -->
	<li class="c-sns--twitter">
			<i class="fa fa-twitter" aria-hidden="true"></i>twitterボタン
		</a>
	</li>
</ul>